@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/* --------------------------------------------- global styles */
.g-base {
    background-color: #FFFFFF;
    color: #3d5170;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 20px;
    
    display:flex;
    justify-content: center;
    align-items:center;
}

.g-heading {
    font-family: "share tech";
    font-size: 2.5rem;
    font-weight:bold;
}

.g-sub-heading {
    font-size: 1rem;
    letter-spacing: 6px;
    font-weight: 600;
    color: #6f7276;
}

a {
    text-decoration: none;
    color: #3d5170;
    &:hover {
        text-decoration: underline;
    }
}

/* --------------------------------------------- p-home styling */
#p-home #s-aside {
    max-width: 800px;
    padding-top:10px;
	padding-bottom:10px;
    border-top: dotted 2px #3d5170;
	margin-top:10px;
}

#p-home #s-topic-links {
    font-size: 1.5rem;
    max-width: 880px;
    padding-left:50px;
    padding-top:20px;
    padding-bottom:20px;

    nav {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom:10px;

        i {
            padding-right: 10px;
        }
    }
}

/* --------------------------------------------- p-thumbnail styling */
#p-topic {
    max-width: 880px;
}

#p-topic #s-navigation {
    padding-bottom:20px;

    i {
        padding-right:8px;
    }

    .nav-link {
        padding-right:20px;
        font-weight:bold;
    }
}

#p-topic #s-title {
    font-size: 2rem;
    font-weight:bold;
    padding-bottom:20px;      
}

#p-topic #s-definition {
    font-size:1.1rem;
    padding-bottom:20px;
}

#p-topic #s-use-cases {
    font-size:1.1rem;
    padding-bottom:10px;

    > div:first-child {
        font-weight: bold;
    }
}

#p-topic #s-examples {
    font-size:1.1rem;
    padding-bottom:20px;

    > div:first-child {
        font-weight: bold;
    }

    > div {
        padding-top:10px;
        padding-bottom:10px;
    }

    .code {
        font-family: monospace;
        font-size:0.9rem;
        background-color: #f0f0f0;
        padding: 10px;
        margin-top: 10px;
    }
}

#p-topic #s-footer {
    font-size:0.8rem;
    padding-top:10px;
    font-weight:normal;
    color: #8d8d8d;
}

/* --------------------------------------------- media queries */
@media (max-width: 500px) {
    #p-home #s-topic-links {
        padding-left:0;
    }
}

@media (prefers-color-scheme: dark) {
    .g-base {
        background-color: #191919;
        color: #FFFFFF;
    }

    a, #p-home #s-topic-links i, #p-topic #s-navigation i {
        color: #6d83a4;
    }

    #p-topic #s-examples .code {
        background-color: #434343;
    }
}